
		<link rel="stylesheet" type="text/css" href="css_files/login.css"/>
		<script src="https://kit.fontawesome.com/615fd7fc78.js" crossorigin="anonymous"></script>
</head>

	<body>
		<div id="banner1">
			<p>Epita's Social Network</p>
			<img class="bancolor" src="content/blue.jpg">
		</div>
		<div class="login-box">
			<form action="/login.exe" method="post">
			<h1>Log in</h1>
			<div class="textbox">
				<i class="fas fa-user-graduate" aria-hidden="true"></i>
				<input type="text" placeholder="Username" name="username">
			</div>
			<div class="textbox">
				<i class="fas fa-lock"></i>
				<input type="Password" placeholder="Password" name="pass">
			</div>

			<input class="bsi" type="submit" value="Sign in">
			<div id="or">
				<p>or</p>
			</div>
			<input class="brg" type="button" value="Register">
			<br><br>
			<a href="#">Password or Username forgotten?</a>

		</div>

		<!--<div id="banner2">
		</div>-->


	</body>

	<div id="footer">
		<p>ESNet</p>
		<img class="bancolor" src="content/blue.jpg">
	</div>

</html>
