	<head>
		<link rel="stylesheet" type="text/css" href="../css_files/login.css"/>
	</head>
	<body>
		<div class="login-box">
			<form action="/cgi/register.cgi" method="post">
			<h1>Sign up</h1>
			<div class="textbox">
				<i class="fas fa-user-graduate" aria-hidden="true"></i>
				<input type="text" placeholder="Username" name="username">
			</div>
			<div class="textbox">
				<i class="fas fa-at"></i>
				<input type="text" placeholder="E-mail Adress" name="email">
			</div>
			<div class="textbox">
				<i class="fas fa-unlock"></i>
				<input type="Password" placeholder="Password" name="pass1">
			</div>
			<div class="textbox">
				<i class="fas fa-lock"></i>
				<input type="Password" placeholder="Confirm Password" name="pass2">
			</div>

			<input class="brg" type="submit" value="Register">
			<div id="or">
				<p>or</p>
			</div>
			<a href="/cgi/loginpage.cgi">
			<input class="bsi" type="button" value="Sign in">
			</a>


			<br><br>
		</form>

		</div>

	</body>
